html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-area {
  width: 500px;
  height: 500px;
}

#letters-container {
  width: 500px;
  height: 500px;
  border: 1px gray solid;
  display: flex;
  flex-wrap: wrap;
}
